

.movie-container {
    padding: 20px;
}
body {
    background-color: #2b2929;
    color: #FFFFFF;
    font-family: 'Netflix Sans', Arial, sans-serif;
}


.title {
    text-align: center;
    margin-bottom: 20px;
}

.hidden{
    /* padding: 100px; */
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    color: #fff;
}





.baslik{
text-align: center;
padding: 50px;
}
.cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;

    
}
.movie-card img:hover{
    opacity: 0.3;
}

.movie-card {
    position: relative;
    padding: 10px;
    border-radius: 5px;
    background-color: #2b2929;
    text-align: center;
}

.movie-card h2 {
    margin-top: 0;
}

.poster {
    width: 100%;
    border-radius: 5px;
}

.no-poster {
    font-style: italic;
}

.loading {
    text-align: center;
}




  